#header {
  place-items: center;
}

/* .container .rounded { */
/* .rounded { */
/* border-radius: 70px; */
/* Adjust the value to control the roundness */
/* background-color: #f0f0f0; */
/* Background color, optional */
/* padding: 20px; */
/* Padding, optional */
/* }
} */
.head {
margin-top: 200px;  
align-items: center;
}


.button-thing {
  text-align: center;
  padding: 200px;
  font-weight: bold;
  width: 796.522px;
  height: 111px;
  flex-shrink: 0;
  padding-bottom: 20px;
}


.round {
  border-radius: 30px;
  padding-bottom: 10px;
}

/* .card-img-top {
  
} */
.img-style {
  width: 1003px;
  height: 293px;
  background-color: #e3e7f9;
}

.card-style {
  padding-left: 75px;
  padding-right: 75px;
}

.box {
  width: 729px;
  height: 170px;
  /* flex-shrink: 0; */
  border-radius: 50px;
  /* Adjust the value to control the roundness */
}


/* .card {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  border-radius: 10px 10px 0 0;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 0;
} */